<footer class="c-footer">
    <div id="s-backtotop">
        <img src="assets/img/common/ic-scrolltotop.png" alt="back-to-top">
    </div>
    <div class="l-container l-container--1100">
        <div class="c-footer__group">
            <div class="c-footer__menu">
                <ul>
                    <li><a href="#">トップページ</a></li>
                    <li><a href="#">大和住宅について</a></li>
                    <li><a href="#">委託管理について</a></li>
                    <li><a href="#">会社情報</a></li>
                    <li><a href="#">物件情報</a></li>
                    <li><a href="#">賃貸管理トラブル集</a></li>
                </ul>
                <ul>
                    <li><a href="#">お知らせ</a></li>
                    <li><a href="#">灘エリアのご紹介</a></li>
                    <li><a href="#">コラム</a></li>
                    <li><a href="#">お問い合わせ</a></li>
                </ul>
            </div>
            <div class="c-footer__logo">
                <a href="index.html">
                    <img src="assets/img/common/logo.jpg" alt="Daiwa Jyutaku">
                </a>
            </div>
        </div>
        <div class="c-footer__copyright">Copyright DAIWA-JYUTAKU All Rights
            Reserved.</div>
    </div>
</footer>
