 <section class="c-columnfaq">
    <div class="c-columnfaq__column">
        <div class="c-title">
            <h2 class="c-title__txt">Column</h2>
            <p class="c-title__content">コラム</p>
        </div>
        <div class="c-columnfaq__list">
            <div class="c-columnfaq__item">
                <span class="c-columnfaq__date">2018.11.10</span>
                <span
                    class="c-columnfaq__text">財産分割前に処分された場合の遺産の範囲は!?</span>
            </div>
            <div class="c-columnfaq__item">
                <span class="c-columnfaq__date">2018.11.10</span>
                <span
                    class="c-columnfaq__text">遺贈等がなくても一定の居住権!・・・配偶者短期居住権!?</span>
            </div>
            <div class="c-columnfaq__item">
                <span class="c-columnfaq__date">2018.11.10</span>
                <span class="c-columnfaq__text">終身の間、居住権と生活資金を確保!</span>
            </div>
        </div>
        <div class="c-columnfaq__btn">
            <a href="#" class="c-btn1">もっとみる</a>
        </div>
    </div>
    <div class="c-columnfaq__faq">
        <div class="c-title">
            <h2 class="c-title__txt">FAQ</h2>
            <p class="c-title__content">賃貸管理トラブル集</p>
        </div>
        <div class="c-columnfaq__list">
            <div class="c-columnfaq__item">
                <span class="c-columnfaq__ques">Q.</span>
                <span
                    class="c-columnfaq__text">建物の構造的な部分と用途によっては切り替えも可能!?!</span>
            </div>
            <div class="c-columnfaq__item">
                <span class="c-columnfaq__ques">Q.</span>
                <span
                    class="c-columnfaq__text">定期借家契約でやむを得ない事情での期間延長。その場合は!?</span>
            </div>
            <div class="c-columnfaq__item">
                <span class="c-columnfaq__ques">Q.</span>
                <span class="c-columnfaq__text">定期借家契約中の賃料増額請求</span>
            </div>
        </div>
        <div class="c-columnfaq__btn">
            <a href="#" class="c-btn1 c-btn1--primary">もっとみる</a>
        </div>
    </div>
</section>
<footer class="c-footer">
    <div id="s-backtotop">
        <img src="assets/img/common/ic-scrolltotop.png" alt="back-to-top">
    </div>
    <div class="l-container l-container--1100">
        <div class="c-footer__group">
            <div class="c-footer__menu">
                <ul>
                    <li><a href="#">トップページ</a></li>
                    <li><a href="about.html">大和住宅について</a></li>
                    <li><a href="#">委託管理について</a></li>
                    <li><a href="company.html">会社情報</a></li>
                    <li><a href="#">物件情報</a></li>
                    <li><a href="#">賃貸管理トラブル集</a></li>
                </ul>
                <ul>
                    <li><a href="#">お知らせ</a></li>
                    <li><a href="#">灘エリアのご紹介</a></li>
                    <li><a href="#">コラム</a></li>
                    <li><a href="#">お問い合わせ</a></li>
                </ul>
            </div>
            <div class="c-footer__logo">
                <a href="index.html">
                    <img src="assets/img/common/logo.jpg" alt="Daiwa Jyutaku">
                </a>
            </div>
        </div>
        <div class="c-footer__copyright">Copyright DAIWA-JYUTAKU All Rights
            Reserved.</div>
    </div>
</footer>
