@use '../abstracts/' as *;
@use 'sass:color';

/*------------------------------------------------------------
    Button
------------------------------------------------------------*/
.c-btn1 {
  width: 100%;
  max-width: 265px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.6rem;
  border: 1px solid $black-02;
  color: $black-03;

  &:hover {
    background: $yellow-01;
    border: 1px solid $yellow-01;
    opacity: 1;
  }

  &--primary {
    &:hover {
      background: $black-01;
      border: 1px solid $black-01;
      color: $white-01;
    }
  }
}
