@use '../abstracts/' as *;

/*------------------------------------------------------------
    Slide
------------------------------------------------------------*/
.c-mainvisual {
  width: 100%;
  height: calc(100vh - 87px);
  position: relative;
  display: flex;
  align-items: flex-end;

  @include sp {
    height: calc(100vh - 40px);
  }

  .c-slide__zoom.swiper-slide-prev,
  .c-slide__zoom.swiper-slide-duplicate-active,
  .c-slide__zoom.swiper-slide-active {
    img {
      animation: zoomInOut 15s linear 0s 1 normal both;
    }
  }

  &__logo {
    position: absolute;
    text-align: center;
    width: 385px;
    z-index: 10;
    color: $white-01;
    top: 46.8%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      max-width: 305px;
      object-fit: contain !important;
      width: auto !important;
      height: auto !important;
      @include sp {
        max-width: 172px;
      }
    }

    @include sp {
      width: 100%;
      top: 51%;
    }
  }

  &__mountain {
    width: 192px;
    margin: 0 auto;
    position: relative;
  }

  &__cloud {
    position: absolute;
    animation: flyClouds 3s ease-in-out infinite;
    width: auto;

    &--cloud1 {
      top: 12px;
      left: -18px;
      animation-delay: 1s;
      @include sp {
        top: 8px;
        left: -12px;
      }
    }

    &--cloud2 {
      top: 52px;
      left: -34px;
      animation-delay: 2s;
      @include sp {
        top: 53px;
        left: -51px;
      }
    }

    &--cloud3 {
      bottom: 15px;
      left: -55px;
      animation-delay: 3s;
      @include sp {
        bottom: 11px;
        left: -40px;
      }
    }

    &--cloud4 {
      top: 20px;
      right: 16px;
      animation-delay: 2s;
      @include sp {
        top: 20px;
        right: 15px;
      }
    }

    &--cloud5 {
      top: 41px;
      right: -54px;
      animation-delay: 3s;
      @include sp {
        top: 33px;
        right: -49px;
      }
    }
  }

  &__jp {
    font-size: 3rem;
    font-weight: $fw-heisei-w5;
    font-family: $heisei-w5;
    letter-spacing: 0.6em;
    margin-top: 59px;
    text-align: center;
    margin-left: 12px;
    @include sp {
      font-size: 2.8rem;
      margin-top: 51px;
    }
  }

  &__en {
    font-size: 5rem;
    font-family: $futura-bold;
    font-weight: $fw-futura-bold;
    margin-top: 13px;
    line-height: 1.8;
    @include sp {
      font-size: 4.8rem;
      line-height: 1.55;
    }
  }

  &__en1 {
    letter-spacing: 0.5em;
    margin-left: 20px;
  }

  &__en2 {
    letter-spacing: 0.28em;
    margin-left: 13px;
  }

  &__carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &::before {
      content: '';
      background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgb(30, 20, 14)),
        color-stop(59%, rgba(30, 20, 14, 0))
      );
      background: -webkit-linear-gradient(
        bottom,
        rgb(30, 20, 14) 0%,
        rgba(30, 20, 14, 0) 59%
      );
      background: linear-gradient(
        0deg,
        rgb(30, 20, 14) 0%,
        rgba(30, 20, 14, 0) 59%
      );
      opacity: 0.3;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 10;
      left: 0;
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1px;
    min-height: 1px;
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease;
  }
}

@keyframes flyClouds {
  0% {
    transform: translateX(0);
    transform: translate(0);
  }

  50% {
    transform: translateX(10px);
    transform: translate(10px);
  }

  to {
    transform: translateX(0);
    transform: translate(0);
  }
}
