//baseWidth
$base-width: 1200px;
$header-height: 80px;

$jp-fonts: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro',
  'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$heisei: 'heisei-kaku-gothic-std', sans-serif;
$fw-heisei-w7: 700;
$fw-heisei-w5: 500;
$futura: 'Futura-PT', sans-serif;
$fw-futura-light: 300;
$fw-futura-book: 400;
$fw-futura-bold: 700;

//color common
$white-01: #fff;
$black-01: #000;
$black-02: #111;
$black-03: #212529;

$yellow-01: #f3ff2f;

$gray-01: #f5f4f3;
$gray-02: #666;
