@use '../abstracts/' as *;

/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/
.c-footer {
  background: $black-01;
  padding: 77px 0;
  color: $white-01;

  @include sp {
    padding: 36px 0 43px;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    width: 62%;
    display: flex;

    @include sp {
      display: none;
    }

    ul {
      width: 50%;
    }

    li {
      margin-bottom: 19px;
      font-size: 1.4rem;
      letter-spacing: 0.1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    width: 30%;
    margin-top: 3px;
    @include sp {
      width: 100%;
    }

    a {
      width: 220px;
      display: block;
      margin: 0 0 0 auto;
      @include sp {
        width: 110px;
        margin: 0 auto;
      }
    }
  }

  &__copyright {
    text-align: right;
    margin-top: 50px;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    @include tabpc {
      text-align: center;
    }
    @include sp {
      margin-top: 21px;
      font-size: 1.1rem;
    }
  }
}
