@use '../abstracts/' as *;

/*------------------------------------------------------------
    Company page
------------------------------------------------------------*/
.c-cpmessage {
  padding: 120px 0;

  @include tab {
    padding: 100px 0 50px;
  }

  @include sp {
    padding: 60px 0;
  }

  &__list {
    margin-top: 76px;

    @include sp {
      margin-top: 30px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;

    @include tab {
      display: block;
    }

    &:first-child {
      flex-direction: row-reverse;
      @include tab {
        margin-bottom: 40px;
      }
    }
  }

  &__img,
  &__note {
    width: 50%;
    @include tab {
      width: 100%;
    }
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__note {
    padding: 72px 120px 30px;
    @include tab {
      padding: 20px 0;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;

    @include sp {
      font-size: 2rem;
    }
  }

  &__content {
    line-height: 1.8;

    span {
      margin-top: 24px;
      display: block;
      letter-spacing: -0.03em;
    }
  }
}

.c-cpprofile {
  padding: 30px 0 70px;

  &--bg {
    background: $gray-01;
    padding: 70px 0 74px;
    @include sp {
      padding: 50px 0;
    }
  }

  &__list {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;

    @include tab {
      margin-top: 15px;
    }

    @include sp {
      display: block;
      margin-top: 30px;
    }
  }

  &__table {
    width: 50%;
    padding: 0 18px;

    @include sp {
      width: 100%;
      padding: 0;
    }

    dl {
      display: flex;
      gap: 20px;
      margin-top: 30px;

      @include sp {
        margin-top: 15px;
      }
    }

    dt,
    dd {
      font-size: 1.4rem;
      line-height: 2.13;
      @include sp {
        font-size: 1.3rem;
      }
    }

    dt {
      min-width: 126px;
      font-weight: 700;
      @include sp {
        min-width: 100px;
      }
    }

    dd {
      span {
        display: block;
        font-weight: 700;
      }
    }
  }
}
